<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=list.title%></title>
</head>
<body>
    
<h1>To do list name: <%= list.title %></h1>

<ul>
    <% list.tasks.forEach(task => { %>
        <li>
            <%= task.title %> <br>
            <%= task.description %> <br>
            <%= task.dueDate ? task.dueDate.toDateString() : '' %>
        </li>
    <% }) %>
</ul>





</body>
</html>