<%- include('../partials/nav') %>

<main class="page-main">

    <section class="list-section">

        <h1><%= list.title %></h1>

 <% if (list.tasks.length === 0) { %>

 <p class="empty-state">
 No tasks yet. Start by adding your first task!
 </p>

   <% } else { %>

<div class="tasks">

 <% list.tasks.forEach((item) => { %>

   <article class="task-card">

   <h2><%= item.title %></h2>

      <p><%= item.description %></p>

   <small>
      Due:
      <%= item.dueDate ? new Date(item.dueDate).toLocaleDateString() : "No due date" %>
       </small>

   <form action="/lists/<%= list._id %>/tasks/<%= item._id %>/complete?_method=PUT" method="POST">

    
     <input
     type="checkbox"
     <%= item.isCompleted ? "checked" : "" %>
       >
    Completed
    

     </form>

       <div class="task-buttons">

   <a href="/lists/<%= list._id %>/tasks/<%= item._id %>/edit">
       <button type="button">Edit</button>
      </a>

    <form action="/lists/<%= list._id %>/tasks/<%= item._id %>?_method=DELETE" method="POST"> 
        <button>Delete</button> 
    </form>

          </div>

       </article>

                <% }) %>

            </div>

        <% } %>

        <a href="/lists/<%= list._id %>/tasks/new" class="add-task-btn">
            Add More Tasks
        </a>

    </section>

</main>