<%- include('../partials/nav') %>
 
<!-- list name and tasks page -->
    
<h1>To do list name: <%= list.title %></h1>

<ul>
   <% list.tasks.forEach((item) => { %>
<li>
            <%= item.title %> <br>
            <%= item.description %> <br>
            <%= item.dueDate %>

<form action="/lists/<%= list._id %>/tasks/<%= item._id %>/complete?_method=PUT" method="POST">

    <input
        type="checkbox"
        <%= item.isCompleted ? "checked" : "" %>
        onchange="this.form.submit()"
    >

</form>


 <a href="/lists/<%= list._id %>/tasks/<%= item._id %>/edit">
<button type="button">Edit Task</button>
    </a>


 <form action="/lists/<%= list._id %>/tasks/<%= item._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
    </form>

   

</li>



   <% }) %>
        
</ul>   


<a href="/lists/<%= list._id %>/tasks/new">
    <button type="button">Add More Tasks</button>
</a>

</body>
</html>