<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=list.title%></title>
</head>
<body>
    
    
<h1>To do list name: <%= list.title %></h1>

<ul>
   <% list.tasks.forEach((item) => { %>
<li>
            <%= item.title %> <br>
            <%= item.description %> <br>
            <%= item.dueDate %>
        </li>

   <% }) %>
        
   
</ul>

<a href="/lists/<%= list._id %>/tasks/new">
    <button type="button">Add More Tasks</button>
</a>
</body>
</html>