<%- include('../partials/nav') %>

<main>

<section class="article-form-section">

<h1>Edit Article</h1>

<form action="/articles/<%= article._id %>?_method=PUT" method="POST" class="article-form">

Title
<input
    type="text"
    name="title"
    value="<%= article.title %>"
    required
/>

Category

<select name="category">

    <option value="health" <%= article.category === "health" ? "selected" : "" %>>Health</option>
    <option value="beauty" <%= article.category === "beauty" ? "selected" : "" %>>Beauty</option>
    <option value="school" <%= article.category === "school" ? "selected" : "" %>>School</option>
    <option value="career" <%= article.category === "career" ? "selected" : "" %>>Career</option>
    <option value="friendships" <%= article.category === "friendships" ? "selected" : "" %>>Friendships</option>
    <option value="finance" <%= article.category === "finance" ? "selected" : "" %>>Finance</option>
    <option value="travel" <%= article.category === "travel" ? "selected" : "" %>>Travel</option>

</select>

Content

<textarea name="content" rows="12" required><%= article.content %></textarea>

<button type="submit">Update Article</button>

<a href="/articles/<%= article._id %>" class="cancel-btn">
    Cancel Update
</a>

</form>

</section>

</main>

</body>
</html>