<%- include('../partials/nav') %>

<h1>My Articles</h1>

<% articles.forEach((article) => { %>


    <a href="/articles/<%= article._id %>">
            <h3><%= article.title %></h3>
    </a>

    <p>Category: <%= article.category %></p>

    <form action="/articles/<%= article._id %>?_method=DELETE" method="POST">

            <button type="submit">Delete</button>
    </form>


<% }) %>

<a href="/articles/new">
    <button>Create New Article</button>
</a>

</body>
</html>