<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.title %></title>
</head>
<body>

<h1><%= article.title %></h1>

<h3>Category: <%= article.category %></h3>

<p>
    <%= article.content %>
</p>

<a href="/articles/<%= article._id %>/edit">
    <button>Edit Article</button>
</a>

<a href="/articles">
    <button>Back to Articles</button>
</a>

</body>
</html>