<%- include('../partials/nav') %>

<div class="form">

<h2>Add tasks</h2>

<% if (list.tasks.length === 0) { %>
    <p>No tasks added yet.</p>
<% } else { %>
    <p>You've added <%= list.tasks.length %> task<%= list.tasks.length === 1 ? '' : 's' %> so far.</p>
<% } %>


<form action="/lists/<%= list._id %>/tasks" method="POST">

        Task Title: 
        <input type="text" name="title" />

        Task Description:
        <input type="text" name="description" />

        Due Date:
        <input type="date" name="dueDate" />
        
        <!-- Completed:
        <input type="checkbox" name="isCompleted" /> -->
    <button type="submit">Add Task</button>
    
    </form>

    <a href="/lists/<%= list._id %>">
    <button type="button">Back to the list</button>
 </a>

</div>




</body>
</html>